body {
  margin: 0 auto;
  background: CornflowerBlue;
  font-family: Arial;
}

nav {
  display: flex;
  background: SteelBlue;
}

nav a {
  padding: 12px;
  color: white;
  border-left: 1px solid #346c99;
  text-decoration: none;
}

nav a:last-child {
  border-left: none;
}

main {
  margin: 0;
  padding: 0 12px;
  color: white;
  padding-right: constant(safe-area-inset-right);
  padding-left: constant(safe-area-inset-left);
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px;
  padding-bottom: constant(safe-area-inset-bottom);
  background: white;
  text-align: center;
}

footer a {
  color: cornflowerblue;
  padding-bottom: constant(safe-area-inset-bottom);
}
